/* hashtag yolo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
}

.obj {
    position: absolute;
    z-index: 0;  /* Just being explicit. */
    width: 50px;
    height: 50px;
    background-color: green;
}

.obj_rect {
    width: 200px;
    background-color: blue;
}

.obj_circle {
    border-radius: 999px;
    background-color: pink;
}


.spotlight {
    position: relative;
    z-index: 10;  /* Pull the layer above the test objects */
    -webkit-transition: -webkit-transform 0.4s;
}
