html {
    overflow-x: hidden;
}

.spotlight {
    position: absolute;
    z-index: 10;  /* Pull the layer above the test objects */
/*    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);*/
}

.spotlight_fuzzy {
}

.plaque {
    position: absolute;
    z-index: 100;
    padding: 10px;
    max-width: 550px;
    border-radius: 8px;
    background: white;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.plaque:after {
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
}

/* Arrow points up. */
.plaque_below:after {
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

/* Arrow points right */
.plaque_left:after {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
}

/* Arrow down up. */
.plaque_above:after {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

/* Arrow points left. */
.plaque_right:after {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
}

/* Arrow points SW. */
.plaque_ne:after {
    bottom: 0;
    left: 0;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #ffffff;

}

.plaque-title {
    font-size: 24px;
}
