html {
    overflow-x: hidden;
}




.spotlight {
    position: absolute;
    z-index: 10;  /* Pull the layer above the other things. */
/*    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);*/
}




.plaque {
    position: absolute;
    z-index: 100;  /* Pull above all the things */
    max-width: 90%;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    left: 5% !important;
}

@media (min-width: 768px) {
    .plaque {
        max-width: 300px;
        left: auto;
    }
}

.plaque:after {
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
}

/* Arrow points up. */
.plaque_below:after {
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

/* Arrow points right */
.plaque_left:after {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
}

/* Arrow down up. */
.plaque_above:after {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

/* Arrow points left. */
.plaque_right:after {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
}

/* Arrow points SW. */
.plaque_ne:after {
    bottom: 0;
    left: 0;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #ffffff;

}

.plaque-steps {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
    color: #666666;
}

.plaque-title {
    max-width: 80%;  /* Prevent title from flowing into step count */
    font-size: 14px;
    font-weight: bold;
}

.plaque-bd {
    padding: 8px;
}

.plaque-ft {
    border-top: 1px solid #cccccc;
    padding: 8px;
    overflow: hidden;
}

.plaque-ft-controls {
    float: right;
}

.plaque-ft-controls > * {
    color: #0093D0;
    cursor: pointer;
}

.plaque-ft-controls > * + * {
    margin-left: 12px;
}
















.obj {
    height: 200px;
    width: 200px;
    background: green;
}

.obj_circle {
    margin-left: 400px;
    height: 50px;
    width: 50px;
    border-radius: 99999px;
    background: blue;
}

.obj_rect {
    margin-left: 70%;
    height: 70px;
    background: red;
}

.obj_square {
    margin-left: 50%;
    background: yellow;
}

.obj_ellips {
    margin-left: 500px;
    width: 100px;
    border-radius: 9999px;
}



.menu {
    display: none;
    max-width: 200px;
}



.spacer {
    margin-bottom: 50px;
}

.spacer_huge {
    margin-bottom: 1000px;
}


.active {
    background: hotpink !important;
}
